*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;}

/*BACKGROUND*/
body{
  background-image: url(IMAGES/backgroundtriangle.svg);
  background-size: cover;
  background-attachment: fixed;
  padding:0;
  overflow-x: hidden;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  color:white;}

/*MAIN LAYOUT*/
#main{
  margin: 0 auto;
  width:1400px;}

/*TITLE PART WITH EXETER LOGO*/
#title{
  width: 100%;
  height: 650px;
  background-color:rgb(18, 140, 161);
  transform: translateY(150px);
  border-radius: 20px;}
#logo{
  width: 60%;
  display:block;
  height:auto;
  opacity: 0;
  animation:zoom 5s;
  animation-fill-mode: forwards;
  margin: 0 auto;
  transform: translateY(38%);}
@keyframes zoom {
  100%{opacity:1;}}

/*LINKS*/
#context{
  height:400px;
  width:100%;
  padding:30px;
  background-color: rgb(18, 140, 161);
  border-radius: 20px 20px 0px 0px;}
.details{
  text-align: center;
  white-space: pre;}
.break{
  width:100%;
  height:200px;}
.icon{
  display: inline-block;
  margin-left: 60px;
  margin-right: 60px;
  height: 150px;}
#link{text-align: center;}

/*PROFILE PICTURE*/
#profile{
  background-color: black;
  height: 300px;
  width: 300px;
  position: relative;
  transform: translateY(70px);
  border-radius: 50%;
  overflow: hidden;}
.image {
  display: block;
  width: 100%;
  height: auto;}
.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgb(160, 215, 216);
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;}
#profile:hover .overlay {
  bottom: 0;
  height: 100%;}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;}

/*WIDE IMAGES*/
.wideimage{
  position: relative;
  background-size: cover;
  height:500px;}
#wide1{background-image:url(IMAGES/wideimage1.jpg);}
#wide2{background-image:url(IMAGES/wideimage2.jpg);}
#wide3{background-image:url(IMAGES/wideimage3.jpg);}

/*--------------BOXES SETUP-----------------*/
.year{
  position: absolute;
  bottom:0;
  left:0;
  border-radius: 50px 50px 0px 0px;
  width:440px;
  padding-left: 25px;
  font-size: 70px;
  color:white;
  background-color: rgb(160, 215, 216, 0.8);}
#year2{background-color:rgb(18, 140, 161, 0.8);}
h1{margin:0;}
h3{font-size: 40px;}
.info{
  width:100%;
  font-size: 50px;
  overflow:hidden;}
#first{
  background-color: rgb(160, 215, 216);
  color: white;
  height:1250px;}
#second{
  background-color: rgb(18, 140, 161);
  color:white;
  height:1100px;
  padding-top: 50px;}
#third{
  background-color: rgb(160, 215, 216);
  color: white;
  height:2200px;
  padding-top:70px;
  border-radius: 0px 0px 20px 20px;}
#ref{text-align: center;}

/*--------------BOX 1-----------------*/
/*POSITION IN CONTAINER*/
.hidden{
position: relative;
padding-left: 20px;
left:100%;
width:100%;
height:180px;
font-size: 28px;
background-color: rgb(160, 215, 216);
color:white;
transform: translateY(-30px);
-webkit-transition:all 0.3s ease-in-out;
-moz-transition:all 0.3s ease-in-out;
-o-transition:all 0.3s ease-in-out;
transition:all 0.3s ease-in-out;
}

/*ALL OF THE TRIGGERS TO MAKE SLIDES MOVE*/
.trigger{
  margin: 0 auto;
  width:50%;
  font-size: 30px;
  text-align: center;
}

/*ALL OF THE TRIGGER MOVEMENTS*/
.trigger:hover + .hidden{
left:0%; 
}

.trigger:hover + #slide2{
left:0%; 
}

.trigger:hover + #slide3{
left:0%; 
}

.trigger:hover + #slide4{
left:0%; 
}

/*--------------BOX 2-----------------*/
.container {
  position: relative;
}

.slider-container {
  position: relative;
  overflow: hidden;
  width: 80%;
  left: 10%;
}

.slide {
      position: absolute;
      padding-left: 40px;
      padding-right: 40px;
      width: 100%;
      left: 0%;
      font-size: 39px;
      text-align: left;
}

.slide.animated {
      -webkit-transition: left .3s ease-in;
      transition: left .3s ease-in;
}

cite {
  font-size: .75em;
  font-weight: 700;
  font-style: normal;
}

/* Utility */
.simple-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Nav */
#prev,
#next {
  position: absolute;
  z-index: 1;
  top:100px;
  display: inline-block;
  height: 5em;
  width: 5em;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  overflow: auto;
}

#prev { 
  left:0;
  background-image: url('IMAGES/arrow-left-over.svg'); }

#prev:hover { background-image: url(https://github.com/12nathanking/mystudies/blob/gh-pages/IMAGES/arrow-left-out.svg); }

#next {
  right: 0;
  background-image: url('IMAGES/arrow-right-over.svg');
}

#next:hover { background-image: url('IMAGES/arrow-right-out.svg'); }

/*--------------BOX 3-----------------*/
.column {
  float: left;
  width: 50%;
  height:30%;
  padding:100px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.column img{
  border-radius: 20%;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.column img:hover{opacity: 0.7;}

/* POPUP BACKGROUND */
.popup {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* POPUP CONTENT */
.popup-content {
  background-color: white;
  z-index: 999;
  font-size: 27px;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 1500px;
  height:900px;
  transform:translateY(-27%);
  color:rgb(18, 140, 161);
  column-count:3;
  column-gap: 40px;
  column-rule: 4px double rgb(18, 140, 161);
  font-weight: 100;
}
.textcol{display: inline-block;}

/* CLOSE BUTTON*/
.close {
  color: #888;
  float: right;
  font-size: 60px;
  font-weight: bold;
  padding-top:10px;}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;}

/*MOBILE PHONES*/
@media screen and (max-width: 800px) {
  .popup-content{
    width: 100%;
    height:80%;
    transform:translateY(20%);
    font-size: 32px;}
  .close{font-size: 100px;}
  #breakcol{transform: translateY(20%);}}
